body{
    background-image: url("resultbglaptop.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

/* result page css start */
 
button{
    font-size: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    color: aliceblue;
    background: #037909;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
   
  }

button:hover{
    
    color: rgb(48, 223, 0);
    background: aliceblue ;
    transition: 0.5s;
  }
    
  h3{
    background: whitesmoke;
    margin-top: -18px;
    border-radius: 10px;
    
  }
  
   #over{
    
    font-size: xx-large;
    color: red;
    background-color: antiquewhite;
    padding: 5px;
    margin: 10px;
    border: #e1dd02;
    border-radius: 5px;
   
    animation: shake 2s linear infinite;
    animation-delay: 0ms;
    /* animation: shake 1s;
    animation-iteration-count: infinite;
    animation-delay: 0ms; */
  }
  @keyframes shake {
    0%,7% {
     transform: rotateZ(0);
    }
    
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    
    40%,100% {
      transform: rotateZ(0);
    }
  }
  #finalResult{
    font-size: 25px;
    
    color: rgb(2, 26, 106);
    font-weight: 600;
    background: wheat;
    border-radius: 10px;
    opacity: 1;
    padding: 10px;
  }
  
  
  /* result page css start */
   @media (max-width:500px) {
    body {
        background-image: url("resultbgmobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        
        background-attachment: fixed;
        background-size: 100% 100%;
    
      }
   }
     @media (min-width:501px  )and (max-width:1300px) {
       body {
         background-image: url("resultbgtab.jpg");
         background-size: cover;
         background-repeat: no-repeat;
   
         background-attachment: fixed;
         background-size: 100% 100%;
  
       }
     }
